.handle {
    position: relative;
    width: min(80px, 100%);
    height: 6px;
    border-radius: 5px;
    margin: auto;
    cursor: grab;
}

.handle::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 100%;
    height: calc(100% + 70px);
    transform: translate(-50%, -50%);
}
