.handle {
    position: relative;
    width: 60px;
    height: 2.8px;
    border-radius: 5px;
    margin: auto;
    cursor: grab;
}

.handle::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    width: 82px;
    height: 24.8px;
    transform: translate(-50%, -50%);
}
