nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    border-bottom: 0.001em solid rgba(0, 0, 0, 0.496);
    transition: all 1s ease;
}
.nav-ribbon{
    width: 100%;
    height: 0.5em;
    background: linear-gradient(132deg, rgb(95, 5, 88) 0%, rgba(116,9,121,1) 34%, rgba(0,212,255,1) 100%);
    /* animation: animate-nav-ribbon 500ms ease-in 4500ms; */
    transition: all 500ms ease;
}
@keyframes animate-nav-ribbon {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.container{
    max-width: max(100%,60%);
    margin: auto;
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2em;
    padding: 0.1em;
    margin: 0;
    margin-bottom: 0.1em;
}
.navLinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1em;
    width: 100%;
}
.navLinks ul{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

a{
    color: rgb(54, 122, 208);
    text-decoration: none;
}
.navbar-link a{
    display: flex;
    flex-direction: column;
    transition: all 1s ease;
    /* align-items: center; */
}
.navbar-link a:active{
    color: black;
}

@media only screen and (min-width: 820px) { 
    .container{
        flex-direction: row;
        width: 100%;
        padding: 0.5em 11em;
    }
    h1{
        width: 100%;
        font-size: 2em;
        padding: 0.1em;
        margin-bottom: 0.1em;
    }
    .navLinks{
        align-items: flex-end;
        justify-content: flex-end;
    }
    .navbar-link a:hover::after{
        content: '';
        height: 1px;
        width: 100%;
        background: #367AD0;
        color: #367AD0;
        transition: all 300ms ease;
        animation: nav-link-hover 1s;
    }
    @keyframes nav-link-hover{
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }
}