@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100%;
}
html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  display: none;
}
.Main-App{
  display: flex;
  position: relative;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
html,body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

body{
  font-family: 'Poppins',sans-serif;
}
.rotate{
  transform: rotate(90deg);
}
.rotate-back{
  transform: rotate(0deg);
}

.sketch-img{
  width: 100%;
}
#quote{
  font-size: 2em;
  line-height: 1.2em;
}
.graphic-header{
  border-bottom : 0.01em solid rgba(0, 0, 0, 0.496);
  font-size : 2em;
  text-align : center;
  letter-spacing : 0.1px;
  padding : 0.7em 0em 0.5em;
}

.graphic-tools{
  padding : 1em;
  display : flex;
  align-items : center;
  justify-content : center;
  /* gap : 0.5em; */
}

.tool{
  display: flex;
  justify-content: center;
  align-items: center ;
}
.tool-icon{
  width: 70%;
}
#pen-tool,#web-lottie{
  display: none;
}
.about-me{
  padding: 0em 0.7em;
}

#quote{
  font-style: italic;
  font-weight: bold;
}

.graphic-img{
  width: 100%;
}
.expanded-div{
  gap: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.496);
}

.webdev-tools{
  padding: 1em;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.5em;
  width: 100%;
}
.webdev-tools li{
  width: 100%;
}
#webdev-work{
  display: none;
}
/* .sticky{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
} */
.splash-wrapper{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  animation: animate-splash-wrapper 4.5s ease-out forwards;
}
.splash-container{
  flex:1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: rgb(1, 1, 1); */
  /* background: linear-gradient(-132deg, rgb(32, 32, 32) 0%, rgb(19, 18, 19) 34%, rgb(0, 0, 0) 100%); */
  background-image: url('./components/images/MyPhoto.jpeg');
  background-size: cover;
  background-position: bottom left;
  background-attachment: fixed;
  width: 100vw;
  transition: all 1s ease;
  touch-action: none;
  align-items: center;
  justify-content: center;
  text-align: left;
  animation: animate-splash 4.5s ease-in-out forwards;
  overflow: hidden;
}
.hidden{
  overflow-y: hidden;
}
.splash-title{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-splash-text 1s ease-in forwards;
  transition: all 1s ease;
  font-size: 3em;
  padding: 0;
  margin-left: 1em;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;  
  position: -webkit-sticky;
}
.splash-title::after{
  content: '';
  font-weight: 400;
  font-size: 0.5em;
  animation: animate-after 1.5s ease forwards;
  animation-delay: 1.5s;
}
@keyframes animate-after {
  0%{
    content: '/';
  }
  33%{
    content: "// ";
  }
  40%{
    content: "// M";
  }
  43%{
    content: "// My";
  }
  48%{
    content: "// Mys";
  }
  53%{
    content: "// Myse";
  }
  58%{
    content: "// Mysel";
  }
  63%{
    content: "// Myself";
  }
  73%{
    content: "// Myself P";
  }
  78%{
    content: "// Myself Pr";
  }
  83%{
    content: "// Myself Pra";
  }
  88%{
    content: "// Myself Pran";
  }
  92%{
    content: "// Myself Prana";
  }
  100%{
    content: "// Myself Pranay";
  }
}
@keyframes animate-splash-text {
  0%{
    background-position: left;
    background: white;
    opacity: 0;
    margin-bottom: -100px;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  100%{
    margin-bottom: 0;
    opacity: 1;
    
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}
@keyframes animate-splash {
  0%{
    opacity: 0;
    
  }
  20%{
    opacity: 1;
  }
  75%{
    height: 100vh;
  }
  80%{
    /* opacity: 0.8; */
  }
  100%{
    /* opacity: 0; */
    height: 0;
  }
}

@keyframes animate-splash-wrapper {
  0%{
    opacity: 1;
  }
  75%{
    height: 100vh;
  }
  100%{

    height: 0;
    /* opacity: 0.975; */
  }
}
.project-link{
  background:rgb(67, 116, 196);
  padding: 3em 0;
  text-align:center;
  color:white;
  transition: all 300ms ease-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.project-link:hover{
  content: '';
  background:rgb(35, 109, 228);
}
.link-texts{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3em;
  position:absolute;
  padding: 3em 0;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-30%);
  transition: transform 150ms ease-in;
}
.link-texts:hover{
  transform:translateX(-50%) translateY(-68%);
}
.hide{
  display: none;
}
.work-card{
  padding: 0.75em 1em;
  border-radius: 8px;
}
.work-card:hover{
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in;
  background:  rgba(169, 203, 241, 0.274);
  box-shadow: 2px 3px 8px rgba(130, 144, 160, 0.171);
}

@media only screen and (min-width: 768px) {
  .hide{
    display: block;
  }
  .splash-container{
    background: linear-gradient(-132deg, rgb(32, 32, 32) 0%, rgb(19, 18, 19) 34%, rgb(0, 0, 0) 100%);
  }
  .graphic-header{
    border-bottom : 1px solid rgba(0, 0, 0, 0.496);
    font-size : 2em;
    text-align : center;
    padding : 0.7em 6em;
  }
  .splash-title{
    font-size: 4em;
  }
  .flex-row .graphic-tools{
    width: 100%;
    height: 30em;
    flex-direction: column;
    position: relative;
  }
  .tool-icon{
    width: 65%;
  }
  #pen-tool,#web-lottie{
    display: inline;
    width : 60%;
    transform: translateY(1em) translateX(-2em);
  }
  #ps{
    position: absolute;
    width: 40%;
    transform: translateY(-11em) translateX(-8em);
  }
  #ai,#figma{
    position: absolute;
  }
  #ai{
    transform: translateX(11em) translateY(-2em);
    width: 38%;
    /* animation-delay: 0.5s; */
  }
  #figma{
    transform: translateX(-10em) translateY(12em);
    width: 40%;
    /* animation-delay: 0.6s;  */
  }
  #graphic-about{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
    width: 100%;
  }
 
  #webdev-about{
    padding: 1em 0;
    margin: 0;
    justify-content: center;
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.4em;
    width: 100%;
  }
  #graphic-about p{
    margin-top: 0;
  }
  #quote{
    font-size: 2em;
    line-height: 1.4em;
  }
  #graphic-sub-header{
    display: none;
  }

  .animate-tool{
    visibility: hidden;
    /* animation: animateTool 1s linear infinite; */
    animation: animateTool 2s infinite ease;
    animation-delay: 2s;
  }
  #poster,#social,#brand{
    display: none;
  }

  .graphic-img{
    width: 30%;
  }
  #m1,#m2{
    display: none;
  }

  #posters,#socials,#brands{
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-basis: 30%; */
    padding: 3em 8em;
  }

  #webdev-work{
    display: block;
  }
 
  @keyframes animateTool {
      0%{
        visibility: hidden;
        opacity: 0;
          width: 0%;
          scale: 0;
        }
        30%{
          visibility: visible;
          opacity: 1;
          scale: 1;
          width: 30%;
        }
        100%{
          visibility: visible;
          opacity: 1;
          scale: 0.9;
          width: 30%;
        }
  }
  .webdev-tools{
    flex-direction: column;
    padding: 0;
    width: 100%;
    gap: 0;
  }
  .webdev-tools li{
    width: 100%;
  }
  .webdev-tools li .fa-4x{
    font-size: 10em;
  }
  
  #web-lottie{
    position: relative;
    width: 98%;
    padding: 2em;
    transform: translateY(-1em);
  }
  /* #html{
    position: relative;
  } */
  #html,#css,#js,#react{
    position: absolute;
  }
  #html{
    font-size: 0.85em;
    transform: translateX(-17em) translateY(-15em);
  }
  #react{
    font-size: 0.8em;
    transform: translateX(15em) translateY(-11em);
  }
  #js{
    font-size: 0.7em;
    transform: translateX(-21em) translateY(13em);
  }
  #css{
    font-size: 0.8em;
    transform: translateX(-24em) translateY(-2.5em);
  }
  .animate-web-tool{
    animation: animateWebTool 6.5s linear infinite;
  }
  @keyframes animateWebTool {
    0%{
    }
    50%{
      translate: 0em 1em;
    }
    100%{
      translate: 0em 0em;
    }
  }

}

