@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

@layer base {
  /* .active {
    @apply bg-black text-white
  } */
  #project-links::-webkit-scrollbar, #modal::-webkit-scrollbar {
    display: none;
  }
  .animate-up {
    animation: animate-up 0.5s ease-in-out forwards;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

p {
  @apply text-neutral-400 font-normal
}

p {
  text-wrap: balance;
}

.btn, button {
  @apply inline-flex gap-2 items-center bg-gray-900/50 p-2 border border-neutral-800 rounded-xl text-neutral-300 backdrop-blur-sm  placeholder:text-neutral-500 placeholder:text-sm cursor-pointer;
}

button:disabled {
  cursor: not-allowed;
}

#cv-btn {
  @apply border-neutral-500 text-sm
}

.container {
  @apply max-w-[90%] md:max-w-[80%] mx-auto w-full
}


@keyframes animate-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-input {
  @apply bg-transparent border-b border-neutral-500 placeholder:text-neutral-500 py-8 focus:border-neutral-100 focus:outline-none text-xl
}
