.aboutLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.stroke{
    width: 60%;
    position: absolute;
    transform: translateY(4em);
    transition: all 1s ease;
}
.about-skills{
    padding: 0.2em 0em;
    width: 90%;
    font-size: 1.2em;
    border-bottom: 1px solid rgba(42, 42, 42, 0.367);
    position: relative;
}
.about-skills h4{
    font-size: 1.72em;
    padding: 0.05em 0;
}
.about-skills:nth-child(1){
    border-top: 1px solid rgba(42, 42, 42, 0.367);
}
.about-me{
    margin-top: 0.5em;
    padding: 0.4em;
    font-size: 1.1em;
}
.about-me p{
    margin-top: 0.5em;
    line-height: 1.4em;
}

.about-pic{
    display: none;
}

.flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-header{
    font-size:3em;
    transition: all 1s ease;
}


@media only screen and (min-width: 820px) {
    .about-container{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .about-skills h4{
        font-size: 1em;
        padding: 0 0;
    }
    .about-pic{
        display: flex;
        width: 40%;
        padding: 3em 0em 5em 3em;
        transition: all 1s ease;
        /* animation: animate-pic 5700ms ease-in ; */
    }
    /* @keyframes animate-pic {
        0%{
            opacity: 0;
            transform: translateY(20px);
        }
        85%{
            opacity: 0;
            transform: translateY(10px);
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    } */

    .about-header{
        font-size: 5em;
    }

    .flex-row{
        display: flex;
        flex-basis: 50%;
        flex-direction: row;
        align-items: flex-start;
        padding: 0em 11em;
    }
    .stroke{
        width: 30%;
        position: absolute;
        transform: translateY(6.75em) translateX(-7em);
    }
    .about-skills{
        padding: 0.1em;
        width: 100%;
        text-align: left;
        font-size: 2.6em;
        border-bottom: 1px solid rgba(42, 42, 42, 0.367);
        position: relative;
    }
}