.education, .education-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.edu-left,.edu-right{
    padding: 1em;
    display: flex;
    /* background: linear-gradient(to bottom,transparent 2%,rgb(63, 118, 200)); */
    background: rgb(63, 118, 200);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    
    /* font-size: 35px; */
}
.edu-left{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.edu-left h1{
    font-size: 2.5em;
    text-align: center;
    text-indent: 0em;
}
.edu-right{
    background: transparent;
    color: black;
    flex-direction: column;
    /* border-top: 1px solid rgba(42, 42, 42, 0.367);
    border-bottom: 1px solid rgba(42, 42, 42, 0.367); */
}
.credentials{
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.credentials img{
    width: 15%;
    margin: 0 auto;
}
.radio{
    display: flex;
    flex-direction: row;
    padding: 20px 20px 20px 0;
    align-items: center;
    transition: all 1s ease;
}
.radio input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 1px solid rgb(63, 118, 200);
    transition: 0.3s all linear;
    margin: 10px 10px;
    position: relative;
    display: flex;
}
.radio input:checked{
    width: 1.2em;
    height: 1.2em;
    /* border-radius: 5px 0 0 5px; */
    background: rgb(63, 118, 200);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.radio input:checked::before{
    content: '';
    width: auto;
    color: rgb(63, 118, 200);
    position: relative;
    left: -45px;
    text-align: right;
    font-size: 20px;
}
.marks{
    font-size: 4em;
}
.standard{
    color: rgb(63, 118, 200);
    font-size: 2em;
}
.description{
    margin-top: 20px;
    font-size: 1em;
    text-align: center;
    width: 90%;
    margin: 1em auto 0;
}
#choice{
    transition: all 3s ease;
}

@media screen and (min-width:820px) {
    .education, .education-section {
        flex-direction: row;
        background: rgb(63, 118, 200);
        
    }
    .edu-left,.edu-right{
        width: 50%;
        background: rgb(63, 118, 200);
        -webkit-text-fill-color: initial;
    }
    .edu-left h1{
        font-size: 3.8em;
        width: 100%;
        text-align: center;
        text-indent: -1em;
        /* background: rgb(63, 118, 200); */
    }
    .edu-right{
        background: white;
        flex-direction: row;
        border: 15px solid rgb(63, 118, 200);
        border-right: 0;
        /* border-left: 0; */
        border-radius: 8em 0 0 8em;
        box-shadow: -5px 0px 10px rgba(6, 23, 48, 0.356);
    }
    .radio{
        flex-direction: column;
    }
    .description{

        width: 100%;
    }
}

